<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/65wat/auth" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username"/>
        <label for="password">Password:</label>
        <input type="text" name="password" value="" id="password"/>

        <input type="submit" value="login"/>
    </form>

    <p><a href="/65wat/register">register</a></p>
</body>
</html>


